// Colors
$black: #0D0D0D;
$firstBlack: #202020;
$secondBlack: #1c1c1c;
$thirdBlack: #181818;

$white: #fff;
$grey: #D2D2D2;
$lightGrey: #DEDEDE;
$darkGrey: #828282;

$blue: #3137C9;
$red: #ED3024;
$orange: #EA8C1E;

// ==========
$widthSidebar: 300px;

// Медиа запросы
$media-l: 1140px;
$media-m: 992px;
$media-s: 768px;
$media-sm: 575px;
$media-xs: 380px;