.header {
    width: calc(100% - $widthSidebar);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;

    background-color: $black;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__search {
    display: inline-block;
    padding: 15px;

    color: rgba($white, .4);
    font-size: 12px;

    background-color: $firstBlack;

    &:focus {
        outline: none;
    }
}