.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    height: 100%;
}

.menu__link {
    display: inline-block;
    height: 100%;
    padding: 15px;

    color: $white;
    font-size: 12px;
    text-transform: uppercase;

    transition: background-color linear .2s;
    &:hover {
        background-color: $blue;
    }
}